.wrapper{
    margin:20px;
}
.btn{
    background-color: white !important;
    color: black !important;
    border-radius: 0 !important;
}

body{
    background-color: black !important;
    color:white !important;
}
.error1{
    color:red !important;
}

.error2{
    color:green !important;
}